/* Applies style to entire html file */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Sets the background color for the whole page to #d9dcd6 */
body {
  background-color: #d9dcd6;
}

/* Applies style to all of header, replaced the previous header class */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* Applies style to the h1 element of the header */
header h1 {
  display: inline-block;
  font-size: 48px;
}

/* Sets the font color of the seo class within the h1 element of the header */
header h1 .seo {
  color: #d9dcd6;
}

/* Applies style to the div within the header */
header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* Sets the list-style-type to non of the unordered list elements within the div of the header */
header div ul {
  list-style-type: none;
}

/* Applies style to the list elements within the unordered list within the div of the header */
header div ul li {
  display: inline-block;
  margin-left: 25px;
}

/* Applies style to all 'a' elements */
a {
  color: #ffffff;
  text-decoration: none;
}

/* Applies style to all 'p' elements */
p {
  font-size: 16px;
}

/* Defines what goes into the hero section */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* Functional class that works for the purpose of floating an element to the left */
.float-left {
  float: left;
  margin-right: 25px;
}

/* Functional class that works for the purpose of floating an element to the right */
.float-right {
  float: right;
  margin-left: 25px;
}

/* Applies style to the content section */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* Applies style to the benefits section */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* Class made to consolidate previous redundant classes, applies style to the benefit articles */
.benefit-display {
  margin-bottom: 32px;
  color: #ffffff;
}

/* Applies style to the h3 elements of the benefit articles */
.benefit-display h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* Applies style to the images in the benefit articles */
.benefit-display img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Class made to consolidade previous redundant classes, applies style to the content articles */
.content-display {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* Applies style to the images in the content articles */
.content-display img {
  max-height: 200px;
}

/* Applies style to h2 elements in the content articles */
.content-display h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Applies style to the footer, replaced previous footer class */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/* Applies style to h2 element of the footer */
footer h2 {
  font-size: 20px;
}
